<section id="footer">
  <ul>
    <li><%= I18n.t('footer.copyright_html') %></li>
    <li><%= link_to 'Terms of Use', page_path('terms-of-use') %></li>
    <li><%= link_to 'Privacy Policy', page_path('privacy-policy') %></li>
    <li>Colophon</li>
    <li>Feeds</li>
  </ul>
</section>
